In [1]:
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt

In [20]:
data = pd.read_excel('C:/Users/bielz/OneDrive/Documentos/GitHub/2024/January/new dataset.xlsx')

In [15]:
data.head(10)

,Year,Month,Day,Weekend?,Hour,Collision Type,Injury Type,Primary Factor,Reported_Location,Latitude,Longitude
0,2015,1,5,Weekday,0.0,2-Car,No injury/unknown,OTHER (DRIVER) - EXPLAIN IN NARRATIVE,1ST & FESS,39.159207,-86.525874
1,2015,1,6,Weekday,1500.0,2-Car,No injury/unknown,FOLLOWING TOO CLOSELY,2ND & COLLEGE,39.161440,-86.534848
2,2015,1,6,Weekend,2300.0,2-Car,Non-incapacitating,DISREGARD SIGNAL/REG SIGN,BASSWOOD & BLOOMFIELD,39.149780,-86.568890
3,2015,1,7,Weekend,900.0,2-Car,Non-incapacitating,FAILURE TO YIELD RIGHT OF WAY,GATES & JACOBS,39.165655,-86.575956
4,2015,1,7,Weekend,1100.0,2-Car,No injury/unknown,FAILURE TO YIELD RIGHT OF WAY,W 3RD,39.164848,-86.579625
5,2015,1,6,Weekday,1800.0,2-Car,No injury/unknown,FAILURE TO YIELD RIGHT OF WAY,BURKS & WALNUT,39.126670,-86.531370
6,2015,1,6,Weekday,1200.0,2-Car,No injury/unknown,DRIVER DISTRACTED - EXPLAIN IN NARRATIVE,SOUTH CURRY PIKE LOT 71,39.150825,-86.584899
7,2015,1,6,Weekday,1400.0,1-Car,Incapacitating,ENGINE FAILURE OR DEFECTIVE,NORTH LOUDEN RD,39.199272,-86.637024
8,2015,1,7,Weekend,1400.0,2-Car,No injury/unknown,FOLLOWING TOO CLOSELY,LIBERTY & W 3RD,39.164610,-86.579130
9,2015,1,7,Weekend,1600.0,1-Car,No injury/unknown,RAN OFF ROAD RIGHT,PATTERSON & W 3RD,39.163440,-86.551280

In [16]:
data.duplicated().sum()

64

In [17]:
data.drop_duplicates(inplace=True)

In [18]:
data['Weekend?']

0        Weekday
1        Weekday
2        Weekend
3        Weekend
4        Weekend
          ...
53938    Weekday
53939    Weekday
53940    Weekday
53941    Weekend
53942    Weekend
Name: Weekend?, Length: 53879, dtype: object

In [19]:
data['Hour'] = pd.to_datetime(data['Hour'])

In [21]:
data

,Year,Month,Day,Weekend?,Hour,Collision Type,Injury Type,Primary Factor,Reported_Location,Latitude,Longitude
0,2015,1,5,Weekday,0.0,2-Car,No injury/unknown,OTHER (DRIVER) - EXPLAIN IN NARRATIVE,1ST & FESS,39.159207,-86.525874
1,2015,1,6,Weekday,1500.0,2-Car,No injury/unknown,FOLLOWING TOO CLOSELY,2ND & COLLEGE,39.161440,-86.534848
2,2015,1,6,Weekend,2300.0,2-Car,Non-incapacitating,DISREGARD SIGNAL/REG SIGN,BASSWOOD & BLOOMFIELD,39.149780,-86.568890
3,2015,1,7,Weekend,900.0,2-Car,Non-incapacitating,FAILURE TO YIELD RIGHT OF WAY,GATES & JACOBS,39.165655,-86.575956
4,2015,1,7,Weekend,1100.0,2-Car,No injury/unknown,FAILURE TO YIELD RIGHT OF WAY,W 3RD,39.164848,-86.579625
...,...,...,...,...,...,...,...,...,...,...,...
53938,2003,10,6,Weekday,1700.0,2-Car,No injury/unknown,IMPROPER LANE USAGE,DUNN & WHITE LOT WEST,0.000000,0.000000
53939,2003,11,3,Weekday,800.0,1-Car,No injury/unknown,UNSAFE SPEED,RED OAK & SR446,0.000000,0.000000
53940,2003,12,5,Weekday,1200.0,2-Car,No injury/unknown,BRAKE FAILURE OR DEFECTIVE,2ND ST & WALNUT,0.000000,0.000000
53941,2003,12,1,Weekend,700.0,2-Car,No injury/unknown,UNSAFE BACKING,NINETH & NORTH,0.000000,0.000000
53942,2003,12,7,Weekend,1700.0,2-Car,Non-incapacitating,OTHER (DRIVER) - EXPLAIN IN NARRATIVE,MONROW & THIRD ST,0.000000,0.000000

In [22]:
data.loc[1]

Year                                  2015
Month                                    1
Day                                      6
Weekend?                           Weekday
Hour                                1500.0
Collision Type                       2-Car
Injury Type              No injury/unknown
Primary Factor       FOLLOWING TOO CLOSELY
Reported_Location            2ND & COLLEGE
Latitude                          39.16144
Longitude                       -86.534848
Name: 1, dtype: object

In [23]:
pd.to_datetime(data[['Year','Month','Day']])

0       2015-01-05
1       2015-01-06
2       2015-01-06
3       2015-01-07
4       2015-01-07
           ...
53938   2003-10-06
53939   2003-11-03
53940   2003-12-05
53941   2003-12-01
53942   2003-12-07
Length: 53943, dtype: datetime64[ns]

In [24]:
data['Date'] = pd.to_datetime(data[['Year','Month','Day']])

In [25]:
data.head(2)

,Year,Month,Day,Weekend?,Hour,Collision Type,Injury Type,Primary Factor,Reported_Location,Latitude,Longitude,Date
0,2015,1,5,Weekday,0.0,2-Car,No injury/unknown,OTHER (DRIVER) - EXPLAIN IN NARRATIVE,1ST & FESS,39.159207,-86.525874,2015-01-05
1,2015,1,6,Weekday,1500.0,2-Car,No injury/unknown,FOLLOWING TOO CLOSELY,2ND & COLLEGE,39.161440,-86.534848,2015-01-06

In [27]:
data = data.drop(['Year','Month','Day'], axis=1)

In [29]:
data.head(1)

,Weekend?,Hour,Collision Type,Injury Type,Primary Factor,Reported_Location,Latitude,Longitude,Date
0,Weekday,0.0,2-Car,No injury/unknown,OTHER (DRIVER) - EXPLAIN IN NARRATIVE,1ST & FESS,39.159207,-86.525874,2015-01-05

In [30]:
data['Hour'] = pd.to_datetime(data['Hour'],format='%H%M').dt.time

ValueError: time data "0" doesn't match format "%H%M", at position 0. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

In [31]:
try:
    data['Hour'] = pd.to_datetime(data['Hour'],format='%H%M').dt.time
except ValueError:
    data['Hour'] = pd.to_datetime('0000', format='%H%M').dt.time

AttributeError: 'Timestamp' object has no attribute 'dt'

In [34]:
data['Hour'] = data['Hour'].astype(int).astype(str).str.zfill(4)

In [33]:
data['Hour'] = data['Hour'].fillna(0)

In [39]:
data.head(1)

,Weekend?,Hour,Collision Type,Injury Type,Primary Factor,Reported_Location,Latitude,Longitude,Date
0,Weekday,00:00:00,2-Car,No injury/unknown,OTHER (DRIVER) - EXPLAIN IN NARRATIVE,1ST & FESS,39.159207,-86.525874,2015-01-05

In [38]:
try:
    data['Hour'] = pd.to_datetime(data['Hour'],format='%H%M').dt.time
except ValueError:
    data['Hour'] = pd.to_datetime('0000', format='%H%M').dt.time

In [40]:
data['Date'] = pd.to_datetime(data[['Hour','Date']])

ValueError: to assemble mappings requires at least that [year, month, day] be specified: [day,month,year] is missing

In [42]:
data['Date'] = pd.to_datetime(data['Date'] + ' ' + data['Hour'], format='%Y-%m-%d %H%M').dt.time

TypeError: unsupported operand type(s) for +: 'DatetimeArray' and 'str'

In [45]:
data['Date'] = pd.to_datetime(data['Date'].dt.year + data['Date'].dt.month + data['Date'].dt.day + data['Hour'])

TypeError: unsupported operand type(s) for +: 'int' and 'datetime.time'

In [50]:
#data['Date'].dt.day
#data['Date'].dt.year
#data['Date'].dt.month
data['Hour']

0        00:00:00
1        15:00:00
2        23:00:00
3        09:00:00
4        11:00:00
           ...
53938    17:00:00
53939    08:00:00
53940    12:00:00
53941    07:00:00
53942    17:00:00
Name: Hour, Length: 53943, dtype: object

In [51]:
data['Year'] = data['Date'].dt.year
data['Month'] = data['Date'].dt.month
data['Day'] = data['Date'].dt.day
data.head(1)

,Weekend?,Hour,Collision Type,Injury Type,Primary Factor,Reported_Location,Latitude,Longitude,Date,Year,Month,Day
0,Weekday,00:00:00,2-Car,No injury/unknown,OTHER (DRIVER) - EXPLAIN IN NARRATIVE,1ST & FESS,39.159207,-86.525874,2015-01-05,2015,1,5

In [53]:
data['DateTime'] = pd.to_datetime(data[['Year','Month','Day','Hour']])

ValueError: cannot assemble the datetimes [Hour]: Invalid object type at position 0

In [55]:
data['Hours'] = data['Hour'].astype(str).str.zfill(4)

In [56]:
data.head(1)

,Weekend?,Hour,Collision Type,Injury Type,Primary Factor,Reported_Location,Latitude,Longitude,Date,Year,Month,Day,Hours
0,Weekday,00:00:00,2-Car,No injury/unknown,OTHER (DRIVER) - EXPLAIN IN NARRATIVE,1ST & FESS,39.159207,-86.525874,2015-01-05,2015,1,5,00:00:00

In [61]:
data['DateTime'] = pd.to_datetime(data[['Year','Month','Day','Hours']])

ValueError: cannot assemble the datetimes [Hours]: Unable to parse string "15:00:00" at position 1

In [59]:
data['Hours'] = data['Hours'].replace({'00:00:00': '0000'})

In [60]:
data.head(12)

,Weekend?,Hour,Collision Type,Injury Type,Primary Factor,Reported_Location,Latitude,Longitude,Date,Year,Month,Day,Hours
0,Weekday,00:00:00,2-Car,No injury/unknown,OTHER (DRIVER) - EXPLAIN IN NARRATIVE,1ST & FESS,39.159207,-86.525874,2015-01-05,2015,1,5,0000
1,Weekday,15:00:00,2-Car,No injury/unknown,FOLLOWING TOO CLOSELY,2ND & COLLEGE,39.161440,-86.534848,2015-01-06,2015,1,6,15:00:00
2,Weekend,23:00:00,2-Car,Non-incapacitating,DISREGARD SIGNAL/REG SIGN,BASSWOOD & BLOOMFIELD,39.149780,-86.568890,2015-01-06,2015,1,6,23:00:00
3,Weekend,09:00:00,2-Car,Non-incapacitating,FAILURE TO YIELD RIGHT OF WAY,GATES & JACOBS,39.165655,-86.575956,2015-01-07,2015,1,7,09:00:00
4,Weekend,11:00:00,2-Car,No injury/unknown,FAILURE TO YIELD RIGHT OF WAY,W 3RD,39.164848,-86.579625,2015-01-07,2015,1,7,11:00:00
5,Weekday,18:00:00,2-Car,No injury/unknown,FAILURE TO YIELD RIGHT OF WAY,BURKS & WALNUT,39.126670,-86.531370,2015-01-06,2015,1,6,18:00:00
6,Weekday,12:00:00,2-Car,No injury/unknown,DRIVER DISTRACTED - EXPLAIN IN NARRATIVE,SOUTH CURRY PIKE LOT 71,39.150825,-86.584899,2015-01-06,2015,1,6,12:00:00
7,Weekday,14:00:00,1-Car,Incapacitating,ENGINE FAILURE OR DEFECTIVE,NORTH LOUDEN RD,39.199272,-86.637024,2015-01-06,2015,1,6,14:00:00
8,Weekend,14:00:00,2-Car,No injury/unknown,FOLLOWING TOO CLOSELY,LIBERTY & W 3RD,39.164610,-86.579130,2015-01-07,2015,1,7,14:00:00
9,Weekend,16:00:00,1-Car,No injury/unknown,RAN OFF ROAD RIGHT,PATTERSON & W 3RD,39.163440,-86.551280,2015-01-07,2015,1,7,16:00:00
10,Weekend,15:00:00,2-Car,No injury/unknown,UNSAFE BACKING,S LIBERTY,39.145264,-86.577616,2015-01-07,2015,1,7,15:00:00
11,Weekend,16:00:00,2-Car,No injury/unknown,FAILURE TO YIELD RIGHT OF WAY,E WINSLOW & S HIGHLAND,39.136048,-86.518496,2015-01-07,2015,1,7,16:00:00

In [62]:
data.drop('Hours')
data.head(1)

KeyError: "['Hours'] not found in axis"

In [63]:
data.drop('Hours',axis=1)

,Weekend?,Hour,Collision Type,Injury Type,Primary Factor,Reported_Location,Latitude,Longitude,Date,Year,Month,Day
0,Weekday,00:00:00,2-Car,No injury/unknown,OTHER (DRIVER) - EXPLAIN IN NARRATIVE,1ST & FESS,39.159207,-86.525874,2015-01-05,2015,1,5
1,Weekday,15:00:00,2-Car,No injury/unknown,FOLLOWING TOO CLOSELY,2ND & COLLEGE,39.161440,-86.534848,2015-01-06,2015,1,6
2,Weekend,23:00:00,2-Car,Non-incapacitating,DISREGARD SIGNAL/REG SIGN,BASSWOOD & BLOOMFIELD,39.149780,-86.568890,2015-01-06,2015,1,6
3,Weekend,09:00:00,2-Car,Non-incapacitating,FAILURE TO YIELD RIGHT OF WAY,GATES & JACOBS,39.165655,-86.575956,2015-01-07,2015,1,7
4,Weekend,11:00:00,2-Car,No injury/unknown,FAILURE TO YIELD RIGHT OF WAY,W 3RD,39.164848,-86.579625,2015-01-07,2015,1,7
...,...,...,...,...,...,...,...,...,...,...,...,...
53938,Weekday,17:00:00,2-Car,No injury/unknown,IMPROPER LANE USAGE,DUNN & WHITE LOT WEST,0.000000,0.000000,2003-10-06,2003,10,6
53939,Weekday,08:00:00,1-Car,No injury/unknown,UNSAFE SPEED,RED OAK & SR446,0.000000,0.000000,2003-11-03,2003,11,3
53940,Weekday,12:00:00,2-Car,No injury/unknown,BRAKE FAILURE OR DEFECTIVE,2ND ST & WALNUT,0.000000,0.000000,2003-12-05,2003,12,5
53941,Weekend,07:00:00,2-Car,No injury/unknown,UNSAFE BACKING,NINETH & NORTH,0.000000,0.000000,2003-12-01,2003,12,1
53942,Weekend,17:00:00,2-Car,Non-incapacitating,OTHER (DRIVER) - EXPLAIN IN NARRATIVE,MONROW & THIRD ST,0.000000,0.000000,2003-12-07,2003,12,7